<a href="https://colab.research.google.com/github/gitmystuff/DTSC4050/blob/main/Week_07-Feature_Selection/Data_Analysis_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis

### Series

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [ ]:
# create a series and compare with list
# zoo = ['Elephants', 'Lions', 'Tigers', 'Giraffes', 'Chimps', 'Birds']
# print(zoo)
# print(pd.Series(zoo))

In [ ]:
# create series from dictionary
# d = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'key5': 'value5'}
# dseries = pd.Series(d)
# dseries

In [ ]:
# dseries.values

In [ ]:
# dseries.index

In [ ]:
# dseries.dtype

In [ ]:
# numbers_list = [1, 2, 3, 4, 5]
# nseries = pd.Series(numbers_list)
# nseries

In [ ]:
# nseries.sum()

In [ ]:
# nseries.product()

In [ ]:
# nseries.mean()

In [ ]:
# create series from two lists
# idx = ['key1', 'key2', 'key3', 'key4', 'key5']
# vals = ['value1', 'value2', 'value3', 'value4', 'value5']
# sfl = pd.Series(data=vals, index=idx)
# sfl

In [ ]:
# more attributes
# print(sfl.shape)
# print(sfl.is_unique)
# print(sfl.ndim)

### DataFrames

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [ ]:
# show keys of load_diabetes
# import pandas as pd

# grades = pd.read_csv('https://raw.githubusercontent.com/gitmystuff/Datasets/main/class-grades2.csv', on_bad_lines='warn')
# print(grades.shape)
# print(grades.info())
# grades.head()

In [ ]:
# mask = ['Assignment1', 'Tutorial', 'Midterm', 'Quiz', 'Final']
# grades[mask].corr()

In [ ]:
# filtering using mask
# mask = ['Midterm', 'Final']
# grades[mask].head()

In [ ]:
# broadcasting
# grades['Quiz'] = grades['Quiz'].add(5)
# grades.head()

In [ ]:
# grades['Quiz'] = grades['Quiz'] - 5
# grades.head()

In [ ]:
# sorting multiple columns
# grades.sort_values(['Prefix', 'FinalGrade'], ascending = [True, False])

In [ ]:
# between
# grades[grades['FinalGrade'].between(grades['FinalGrade'].quantile(.25), grades['FinalGrade'].quantile(.75))]

In [ ]:
# describe grades
# grades.describe()

In [ ]:
# isin
# print(grades['Prefix'].value_counts())
# print('\nIn:\n', grades['Prefix'].isin([8]).head())
# print('\nNot In:\n', ~grades['Prefix'].isin([8]).head())

In [ ]:
# filtering by multiple values
# mask1 = grades['Prefix'] == 8
# mask2 = grades['FinalGrade'] > 70

# print(len(grades[mask1 & mask2]))
# grades[mask1 & mask2]

In [ ]:
# where
# grades['FinalGrade'].where(mask1 & mask2, other='Fail').head()

In [ ]:
# query
# grades[mask1 & mask2].query('Final > 70')

In [ ]:
# apply
# def average_midterm_final(row):
#     return (row.Midterm + row.Final) / 2

# grades.apply(average_midterm_final, axis='columns')  # axis=1

### Multiple Indexes

In [ ]:
# create AtRisk and index
# def at_risk(r):
#   if r.FinalGrade >= 70:
#     return 0
#   else:
#     return 1

# grades['AtRisk'] = grades.apply(at_risk, axis=1)
# grades.sort_values(['Prefix', 'AtRisk'], ascending = [True, False], inplace=True)
# grades.set_index(keys=['Prefix', 'AtRisk'], inplace=True)
# grades.head()

In [ ]:
# extract rows from multi index
# grades.sort_index(inplace=True)
# grades.loc[(4, 1), 'Final']

In [ ]:
# grades.transpose()

In [ ]:
# stack to frame
# grades_stack = grades.stack()
# grades_stack.head(30)

#### Pivot Table

Summarizes one or more numeric variable based on two other categorical variables

In [ ]:
# pivot table
# def letter_grade(FinalGrade):
#     if FinalGrade >= 90:
#         return 'A'
#     elif 80 <= FinalGrade < 90:
#         return 'B'
#     elif 70 <= FinalGrade < 80:
#         return 'C'
#     else:
#         return 'F'

# grades['LetterGrade'] = grades.apply(lambda g: letter_grade(g['FinalGrade']), axis=1)
# grades.pivot_table(values='FinalGrade', index=['LetterGrade'], columns='Prefix', aggfunc='count', fill_value=0)

In [ ]:
# grades.groupby(['Prefix', 'LetterGrade'])['LetterGrade'].count()

#### Melt

Format a dataframe where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value_vars), are “unpivoted” to the row axis, leaving just two non-identifier columns, ‘variable’ and ‘value’.

In [ ]:
# melt
# grades.reset_index(inplace=True)
# melted = pd.melt(grades, id_vars = 'Prefix', var_name = 'Activity', value_name = 'Score')
# melted

In [ ]:
# subset of melted
# melted[melted['Activity'] == 'LetterGrade']

### Groupby and Aggregation

Aggregation: the clustering of elements for the purpose of further analysis

In [ ]:
# recall the grades dataset
# print(grades.shape)
# grades.head()

In [ ]:
# find FinalGrade for each Prefix
# grades.groupby('Prefix')['FinalGrade'].mean().round(2)

In [ ]:
# grades.groupby('LetterGrade')['Student'].count()

In [ ]:
# grades.groupby(['Prefix', 'LetterGrade'])['Student'].count()

In [ ]:
# grades.groupby('Prefix')['FinalGrade'].agg(['min', 'max', 'mean', 'median']).round(2)

### Concat, Merge, and Join

In [ ]:
# concat two series
# https://pandas.pydata.org/docs/reference/api/pandas.concat.html
# s1 = pd.Series(['a', 'b'])
# s2 = pd.Series(['c', 'd'])
# pd.concat([s1, s2])

In [ ]:
# correct index
# pd.concat([s1, s2], ignore_index=True)

In [ ]:
# concat two dataframes
# df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
# print(df1)
# df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])
# print(df2)
# pd.concat([df1, df2], ignore_index=True)

In [ ]:
# merge two dataframes
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
# df1 = pd.DataFrame({'key': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 5]})
# df2 = pd.DataFrame({'key': ['foo', 'bar', 'baz', 'foo'], 'value': [5, 6, 7, 8]})
# print(df1)
# print(df2)
# df1.merge(df2, left_on='key', right_on='key')

In [ ]:
# inner merge
# https://www.datacourses.com/concatenate-merge-and-join-data-with-pandas-598/
# df1.merge(df2, how='inner', on='key')

In [ ]:
# join
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html
# df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'], 'ValueA': ['VA0', 'VA1', 'VA2', 'VA3', 'VA4', 'VA5']})
# df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'ValueB': ['VB0', 'VB1', 'VB2']})
# df1.join(df2, lsuffix='_df1', rsuffix='_df2')

In [ ]:
# df1.join(df2.set_index('key'), on='key')